/* font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.cabecalho {
  background-color: #9e9e9e;
  height: 70vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho h1 {
  font-size: 32px;
}


.menu ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu ul li {
  list-style: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
  border: 2px solid #cccccc;
}

