/* font-family: 'Raleway', sans-serif; */
 body, h1, ul, li{
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body h1 {
	/*font-family: 'Kreon', serif;
	font-family: 'Lato', sans-serif;
  	font-family: 'Patua One', cursive; */
	font-family: 'Open Sans', sans-serif;

}

a {
  text-decoration: none;
  color: #fff;

}
/* HEADER */
.topo {
  grid-area: topo;
  background-image: url(../img/principal.jpg);
  background-size: cover;
 	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	color: #262323;
	height:300px;
  display: flex;
  justify-content: center;
 	align-items: center;
  text-align: center;
}

h1 {
  font-size:24px;

}
.menu-principal {
    background-color: #68a8ad;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu-principal li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  .menu-principal li:hover, .menu-principal li:active {
    background-color: ##6c8672;
    cursor: pointer;
  }
  .menu-principal li a{
    color: #fff;
    text-decoration: none;
  }

.principal {
  display: grid;
  height: 300px;
  width: 100%;
  justify-content: center;
  background-color: #d3d3d3;
}

.principal .box {
  background-color: #c4d4af;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .fa {
  height: 100px;
  width: 100px;
  background-color: #bebebe;
  font-size: 3em;
  border-radius: 50%;
  color: rgba(241,125,128, 0.9);
}
.artigos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.box .icon .fa{
  display: flex;
  justify-content: center;
  align-items: center;
}
